body {
    background-color:lightslategray;
    font-family:comic sans ms,sans-serif;
    font-size: 14px;
}
h1{
    background-color:darkslategray;
    color:white;
    border:4px outset black;
    font-size: 50 px;

}
head {
    background-color:lightslategray;
    font-family:comic sans ms,sans-serif;
    font-size: 14px;
}
h2 {
    background-color:lightslategray;
    font-size: 26px;
    border:2px outset darkslategray;

}
button {
    background-color:lightslategray;
    font-family:comic sans ms,sans-serif;
    font-size: 20px;
    border:2px outset darkslategray;
}
a {
    font-size: 18px;
}