
body {
    background-color:lightslategray;
    font-family:"comic sans ms",sans-serif;
    font-size: 14px;
}
h1{
    background-color:darkslategray;
    color:white;
    border:4px outset black;
    font-size: 50px;

}
head {
    background-color:lightslategray;
    font-family:"comic sans ms",sans-serif;
    font-size: 14px;
}
h2 {
    background-color:lightslategray;
    font-size: 26px;
    border:2px outset darkslategray;

}
button {
    background-color:lightgray;
    font-family:"comic sans ms",sans-serif;
    font-size: 20px;
    border:2px outset darkslategray;
}
a {
    display:block;
    font-size: 14px;
    background-color: lightgray;
    border: 2px outset darkslategray;
    transition-duration: 1s;
    padding:5px;
    margin-bottom: 20px;
    height:100%;
    width:25%
}
a:hover{
 background-color: tomato;
 border: 4px outset darkslategray;
 color:white;
 font-size:16px;
}